* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #eef2ff, #f8fafc);
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.password-card {
  width: 420px;
  background: white;
  padding: 40px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.icon {
  width: 65px;
  height: 65px;
  margin: 0 auto 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eef2ff;
  border-radius: 50%;
  font-size: 30px;
}

h1 {
  font-size: 26px;
  color: #1e293b;
  margin-bottom: 10px;
}

.subtitle {
  color: #64748b;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.input-group {
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
  color: #334155;
}

.input-group input {
  width: 100%;
  padding: 13px 15px;
  border: 1px solid #cbd5e1;
  border-radius: 9px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.12);
}

.message {
  margin-top: 18px;
  padding: 12px;
  border-radius: 8px;
  font-weight: 600;
  font-size: 14px;
}

.message.strong {
  color: #15803d;
  background: #dcfce7;
}

.message.weak {
  color: #dc2626;
  background: #fee2e2;
}

.requirements {
  margin-top: 25px;
  padding: 18px;
  background: #f8fafc;
  border-radius: 10px;
  text-align: left;
}

.requirements p {
  font-weight: 600;
  color: #334155;
  margin-bottom: 10px;
  font-size: 14px;
}

.requirements span {
  display: block;
  color: #64748b;
  font-size: 13px;
  margin: 7px 0;
}

@media (max-width: 500px) {
  .password-card {
    width: 100%;
    padding: 30px 22px;
  }

  h1 {
    font-size: 22px;
  }
}


.password-input {
  position: relative;
  width: 100%;
}

.password-input input {
  width: 100%;
  padding: 13px 50px 13px 15px;
  border: 1px solid #cbd5e1;
  border-radius: 9px;
  font-size: 15px;
  outline: none;
  transition: 0.2s;
}

.password-input input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.12);
}

.eye-button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);

  border: none;
  background: transparent;
  cursor: pointer;

  font-size: 20px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.eye-button:hover {
  opacity: 0.7;
}